<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no,email=no">
    <title>华夏保险销售从业人员信息表</title>
    <base href="../" />
    <link rel="stylesheet" href="gv/common/css/reset.css">
    <link rel="stylesheet" href="gv/common/css/mui.min.css">
    <link rel="stylesheet" href="gv/common/css/mui.picker2.0.0.min.css">
    <link rel="stylesheet" href="gv/interview_system/css/base.css">
    <link rel="stylesheet" href="gv/interview_system/css/icon.css">
    <link rel="stylesheet" href="gv/interview_system/css/addresume.css">
</head>
<body>
    <div id="app">
        <!-- 推荐人 -->
        <sgq-item>
            <div class="tuijianren">
                <div class="con">
                    <div class="name" v-text="refereeName"></div>
                    <div class="code"><span v-text="agentCode"></span> / <span v-text="comName"></span></div>
                </div>
            </div>
        </sgq-item>
        <!--基本信息-->
        <div class="sgq_title">基本信息</div>
        <sgq-item>
            <div class="jbxx">
                <sgq-formline>
                    <div class="title">姓名</div>
                    <div class="inputBox" id="customerName">
                        <input type="text" placeholder="请输入您的姓名" v-model="customerName" @focus="inputcheckerr($event, 'customerName')" v-model="workResumeStr[index].unitWork">
                    </div>
                </sgq-formline>
                <sgq-formline>
                    <div class="title">姓别</div>
                    <div class="inputBox clearfix" id="customerSex">
                        <div class="radiobox">
                            <div class="men item" :class="customerSex===0?'active':''" @tap="checksex(0)">男</div>
                            <div class="women item" :class="customerSex===1?'active':''" @tap="checksex(1)">女</div>
                        </div>
                    </div>
                </sgq-formline>
                <sgq-formline>
                    <div class="title">出生日期</div>
                    <div class="inputBox" @tap="checkerr('birthday');checkdatepicker('birthday', 'birthday')" id="birthday">
                        <div class="birthday datepicker icon jiantou picker" v-text="birthday"></div>
                    </div>
                </sgq-formline>
                <sgq-formline>
                    <div class="title">学历</div>
                    <div class="inputBox" @tap="checkerr('education');checkpicker('education', 'education')" id="education">
                        <div class="xueli icon jiantou picker" v-text="education"></div>
                    </div>
                </sgq-formline>
                <sgq-formline>
                    <div class="title">联系电话</div>
                    <div class="inputBox" id="mobile">
                        <input type="text" placeholder="请输入您的联系电话" v-model="mobile" @focus="inputcheckerr($event, 'mobile')">
                    </div>
                </sgq-formline>
                <sgq-formline>
                    <div class="title">身份证号码</div>
                    <div class="inputBox" id="idNo">
                        <input type="text" placeholder="请输入您的身份证号码" v-model="idNo" @focus="inputcheckerr($event, 'idNo')" @blur="checkreg($event, 'idNo')" data-reg="idNo">
                    </div>
                </sgq-formline>
                <sgq-formline>
                    <div class="title">过去6个月月均收入情况</div>
                    <div class="inputBox" id="monIncome">
                        <input type="text" placeholder="请输入您的月均收入情况" v-model="monIncome" @focus="inputcheckerr($event, 'monIncome')">
                    </div>
                </sgq-formline>
            </div>
        </sgq-item>
        <!-- 工作经历 -->
        <div class="sgq_title">工作经历</div>
        <div class="gzjy">
            <div v-for="(item, index) in workResumeStr" :key="index" class="item">
                <sgq-item>
                    <div>
                        <sgq-formline>
                            <div class="title">工作单位</div>
                            <div class="inputBox" :id="'workResumeStr_unitWork' + index">
                                <input type="text" placeholder="请输入您的工作单位" @focus="inputcheckerr($event, 'workResumeStr_unitWork' + index)" v-model="workResumeStr[index].unitWork">
                            </div>
                        </sgq-formline>
                        <sgq-formline>
                            <div class="title">开始时间</div>
                            <div class="inputBox" @tap="checkerr('workResumeStr_startDate' + index);checkdatepicker('workResumeStr_startDate', 'list', 'workResumeStr' ,index , 'startDate' )" :id="'workResumeStr_startDate' + index">
                                <div class="birthday datepicker icon jiantou picker" v-text="workResumeStr[index].startDate"></div>
                            </div>
                        </sgq-formline>
                        <sgq-formline>
                            <div class="title">结束时间</div>
                            <div class="inputBox" @tap="checkerr('workResumeStr_endDate' + index);checkdatepicker('workResumeStr_endDate', 'list', 'workResumeStr', index, 'endDate' )" :id="'workResumeStr_endDate' + index">
                                <div class="birthday datepicker icon jiantou picker" v-text="workResumeStr[index].endDate"></div>
                            </div>
                        </sgq-formline>
                        <sgq-formline>
                            <div class="title">职位</div>
                            <div class="inputBox" :id="'workResumeStr_rank' + index">
                                <input type="text" placeholder="请输入您的职位" v-model="workResumeStr[index].rank" @focus="inputcheckerr($event, 'workResumeStr_rank' + index)">
                            </div>
                        </sgq-formline>
                        <sgq-formline>
                            <div class="title">证明人</div>
                            <div class="inputBox" :id="'workResumeStr_witness' + index">
                                <input type="text" placeholder="请输入您的证明人" v-model="workResumeStr[index].witness" @focus="inputcheckerr($event, 'workResumeStr_witness' + index)">
                            </div>
                        </sgq-formline>
                    </div>
                </sgq-item>
            </div>
            <div class="addbtn" @tap="addgongzuo">
                <div class="con">
                    <button class="btn" type="button">
                        <span class="icon add"></span>
                        <span class="btntext">添加工作经验</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- 家庭情况 -->
        <div class="sgq_title">家庭情况</div>
        <div class="jtqk">
            <div v-for="(item, index) in bloodRelationStr" :key="index" class="item">
                <sgq-item>
                    <div>
                        <sgq-formline>
                            <div class="title">姓名</div>
                            <div class="inputBox" :id="'bloodRelationStr_name' + index">
                                <input type="text" placeholder="请输入您的姓名" v-model="bloodRelationStr[index].name" @focus="inputcheckerr($event, 'bloodRelationStr_name' + index)">
                            </div>
                        </sgq-formline>
                        <sgq-formline>
                            <div class="title">出生日期</div>
                            <div class="inputBox" @tap="checkerr('bloodRelationStr_birthday' + index);checkdatepicker('bloodRelationStr_birthday', 'list', 'bloodRelationStr' ,index , 'birthday' )" :id="'bloodRelationStr_birthday' + index">
                                <div class="birthday datepicker icon jiantou picker" v-text="bloodRelationStr[index].birthday"></div>
                            </div>
                        </sgq-formline>
                        <sgq-formline>
                            <div class="title">与本人关系</div>
                            <div class="inputBox" :id="'bloodRelationStr_relationship' + index">
                                <input type="text" placeholder="请输入您的与本人关系" v-model="bloodRelationStr[index].relationship" @focus="inputcheckerr($event, 'bloodRelationStr_relationship' + index)">
                            </div>
                        </sgq-formline>
                        <sgq-formline>
                            <div class="title">工作单位</div>
                            <div class="inputBox" :id="'bloodRelationStr_unitWork' + index">
                                <input type="text" placeholder="请输入您的工作单位" v-model="bloodRelationStr[index].unitWork" @focus="inputcheckerr($event, 'bloodRelationStr_unitWork' + index)">
                            </div>
                        </sgq-formline>
                        <sgq-formline>
                            <div class="title">联系电话</div>
                            <div class="inputBox" :id="'bloodRelationStr_mobile' + index">
                                <input type="text" placeholder="请输入您的联系电话" v-model="bloodRelationStr[index].mobile" @focus="inputcheckerr($event, 'bloodRelationStr_mobile' + index)">
                            </div>
                        </sgq-formline>
                    </div>
                </sgq-item>
            </div>
            <div class="addbtn">
                <div class="con">
                        <button class="btn" type="button" @tap="addqinshu">
                        <span class="icon add"></span>
                        <span class="btntext">添加亲属</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- 底部按钮 -->
        <div class="btns" v-if="!resumeId">
            <button type="button" class="mui-btn mui-btn-danger" @tap="submits">提交</button>
            <button type="button" class="mui-btn" @tap="back">取消</button>
        </div>
    </div>
    <script src="gv/common/js/jquery-1.9.1.min.js"></script>
    <script src="gv/common/js/common.js"></script>
    <script src="gv/interview_system/config/index.js"></script>
    <script src="gv/interview_system/api/index.js"></script>
    <script src="gv/common/js/vconsole.min.js"></script>
    <script src="gv/common/js/vue2.2.2.min.js"></script>
    <script src="gv/common/js/mui.min3.4.1.js"></script>
    <script src="gv/common/js/mui.picker2.0.0.min.js"></script>
    <script src="gv/interview_system/components/slot/sgq_item.js"></script>
    <script src="gv/interview_system/components/slot/sgq_formline.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

    <script>
        var nowdata = new Date();
        var openid = GetQueryString('openid');
        var resumeId = GetQueryString('resumeId');
        var agentCode = GetQueryString('agentCode');
        var myAPP = new Vue({
            el: '#app',
            data: function () {
                return {
//                    工具
                    pickerinfo: {
//                        学历
                        education:{
                            list: [{
                                value: "1",
                                text: "博士"
                            }, {
                                value: "2",
                                text: "硕士"
                            }, {
                                value: "3",
                                text: "本科"
                            }, {
                                value: "4",
                                text: "专科"
                            }, {
                                value: "5",
                                text: "高中"
                            }, {
                                value: "6",
                                text: "中学"
                            }, {
                                value: "7",
                                text: "小学"
                            }, {
                                value: "8",
                                text: "其他"
                            }],
                            value: 3
                        }
                    },
                    datepickerinfo: {
//                        出生年月最早可以指定到今年之前60年（最多60岁）
                        birthday: {
                            beginDate: new Date(nowdata.getFullYear() - 60, 0),
                            endDate:  new Date(nowdata.getFullYear(), 0)
                        },
//                       工作开始时间最早可以指定到今年之前60年
                        workResumeStr_startDate: {
                            beginDate: new Date(nowdata.getFullYear() - 60, 0),
                            endDate:  new Date(nowdata.getFullYear(), nowdata.getMonth(), nowdata.getDate())
                        },
//                       工作开始时间最早可以指定到今年之前60年
                        workResumeStr_endDate: {
                            beginDate: new Date(nowdata.getFullYear() - 60, 0),
                            endDate:  new Date(nowdata.getFullYear(), nowdata.getMonth(), nowdata.getDate())
                        },
//                       父母最早可以指定到今年之前150年
                        bloodRelationStr_birthday: {
                            beginDate: new Date(nowdata.getFullYear() - 150, 0),
                            endDate:  new Date(nowdata.getFullYear(), 0)
                        }
                    },
                    mustfill: {
                        customerName: '请填写姓名！',
                        birthday: '请填写',
                        education: '请填写',
                        mobile: '请填写',
                        idNo: '请填写',
                        monIncome: '请填写',
                        workResumeStr: {
                                startDate: '请填写',
                                endDate: '请填写',
                                unitWork: '请填写',
                                rank: '请填写',
                                witness: '请填写'
                            },
                        bloodRelationStr: {
                                name: '请填写',
                                birthday: '请填写',
                                relationship: '请填写',
                                unitWork: '请填写',
                                mobile: '请填写'
                            }
                    },
                    reginfo: {
                        idNo: '请输入证件号码！（末位为大写字母）！'
                    },
                    submitflag: true,
                    flag: true,
                    errtype: 0, // 1 参数不全
                    member: false,
//                    工具
//                    邀请人
                    openid: openid,
                    refereeName: '夯实那',
                    agentCode: agentCode ||　'2139042',
                    comName: '部门',
//                    邀请人
//                    简历
                    resumeId: resumeId,
                    customerName: '',
                    customerSex: 0,
                    birthday: '',
                    education: '',
                    mobile: '',
                    idNo: '',
                    monIncome: '',
                    workResumeStr: [
                        {
                            startDate: '',
                            endDate: '',
                            unitWork: '',
                            rank: '',
                            witness: ''
                        }
                    ],
                    bloodRelationStr: [
                        {
                            name: '',
                            birthday: '',
                            relationship: '',
                            unitWork: '',
                            mobile: ''
                        }
                    ],
//                    简历
//                    正则
                    reg: {
                        idNo: /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X)$)/ // 身份证号
                    },
//                    api
                    HandleData: {
                        workResume_addWorkResume: workResume_addWorkResume,
                        workResume_examWorkResume: workResume_examWorkResume
                    }
                }
            },
            methods: {
//                获取简历信息
                getjianli: function () {
                    if (resumeId) {
                        var that = this;
                        this.NG('interview_resumeInfo', {resumeId: resumeId}, function (res) {
                            that.workResumeStr = res.workList;
                            that.courseInfo = res.courseInfo;
                            that.customerName = res.courseInfo.customerName;
                            that.customerSex = res.courseInfo.customerSex;
                            that.birthday = res.courseInfo.birthday;
                            that.education = res.courseInfo.education;
                            that.mobile = res.courseInfo.mobile;
                            that.idNo = res.courseInfo.idNo;
                            that.monIncome = res.courseInfo.monIncome;
                            that.bloodRelationStr = res.bloodList;
                            that.refereeName = res.courseInfo.refereeName;
                            that.agentCode = res.courseInfo.agentCode;
                            that.comName = res.comName;
                        })
                    }
                },
//                获取推荐人信息
                gettuijianreninfo: function () {
                    var that = this;
                    this.NG('workResume_examWorkResume', {agentCode:  agentCode}, function (res) {
                        that.refereeName = res.refereeName;
                        that.comName = res.comName;
                    })
                },
//                 选择性别
                checksex: function (s) {
                    if (this.checkmember()) {
                        this.customerSex = s;
                    }
                },
//                日期picker
                checkdatepicker: function (type, key, key1, ind, key2) {
                    var that = this;
                    if (this.checkmember()) {
                        var option = {
                            type: "date"
                        };
                        for (var i in this.datepickerinfo[type]) {
                            option[i] = this.datepickerinfo[type][i];
                        }
                        var dtpicker = new mui.DtPicker(option);
                        dtpicker.show(function (e) {
                            if (key === 'list') {
                                that[key1][ind][key2] = e.value;
                            } else {
                                that[key] = e.value;
                            }
                            dtpicker.dispose();
                        })
                    }
                },
//                picker
                checkpicker: function (type, key, key1, ind, key2) {
                    var that = this;
                    if (this.checkmember()) {
                        var picker = new mui.PopPicker();
                        picker.setData(this.pickerinfo[type].list);
                        picker.pickers[0].setSelectedValue(this.pickerinfo[type].value, 1000);
                        picker.show(function (SelectedItem) {
                            if (key === 'list') {
                                that[key1][ind][key2] = SelectedItem[0].text;
                            } else {
                                that[key] = SelectedItem[0].text;
                            }
                            picker.dispose();
                        })
                    }
                },
//                添加工作
                addgongzuo: function () {
                    if (this.checkmember()) {
                        this.workResumeStr.push({
                            startDate: '',
                            endDate: '',
                            unitWork: '',
                            rank: '',
                            witness: ''
                        })
                    }
                },
//                添加亲属
                addqinshu: function () {
                    if (this.checkmember()) {
                        this.bloodRelationStr.push({
                            name: '',
                            birthday: '',
                            relationship: '',
                            unitWork: '',
                            mobile: ''
                        })
                    }
                },
//                去除错误提示
                checkerr: function (item) {
                    this.submitflag = true;
                    $('#' + item).parent().siblings('.wrong_tips').text('').hide();
                },
                inputcheckerr: function (e, item) {
                    if (this.member) {
                        e.target.blur();
                        mui.alert('内部员工无法填写简历！');
                        return;
                    }
                    this.submitflag = true;
                    $('#' + item).parent().siblings('.wrong_tips').text('').hide();
                },
//                正则检查
                checkreg: function(e, item) {
                    if (this[e.target.dataset.reg].trim() !== '') {
                        if (!this.reg[e.target.dataset.reg].test(this[e.target.dataset.reg])) {
                            this.submitflag = false;
                            mui.alert(this.reginfo[e.target.dataset.reg]);
                            this.adderror(item, this.reginfo[e.target.dataset.reg]);
                        }
                    }
                },
                checkregfn: function (info, key) {
                    if (info.trim() === '') {
                        if (!this.reg[key].test(this[key])) {
                            this.adderror(key, this.reginfo[key]);
                            this.submitflag = false;
                        }
                    }
                },
//                内部员工无法使用
                checkmember: function () {
                    if (this.member) {
                        mui.alert('内部员工无法填写简历！');
                        return false;
                    }
                    return true;
                },
//               错误提示
                adderror: function (el, e) {
                    $('#' + el).parent().siblings('.wrong_tips').text(e).show()
                },
//                必填检查
                checkbitian: function (info, key, key1) {
                    if (key === 'list') {
                        for (var i = 0; i < info.length; i++) {
                            for (var j in info[i]) {
                                if (info[i][j].trim() === '') {
                                    this.adderror(key1 + '_' + j + i, this.mustfill[key1][j]);
                                    this.submitflag = false;
                                    this.errtype = 1;
                                }
                            }
                        }
                    } else {
                        if (info.trim() === '') {
                            this.adderror(key, this.mustfill[key]);
                            this.submitflag = false;
                            this.errtype = 1;
                        }
                    }
                },
//                 提交
                submits: function () {
                    var that = this;
                    if (this.checkmember()) {
                        var datas = {
                            openid: this.openid,
                            refereeName: this.refereeName,
                            agentCode: this.agentCode,
                            customerName: this.customerName.trim(),
                            customerSex: this.customerSex,
                            birthday: this.birthday,
                            education: this.education,
                            mobile: this.mobile.trim(),
                            idNo: this.idNo.trim(),
                            monIncome: this.monIncome.trim(),
                            workResumeStr: this.workResumeStr,
                            bloodRelationStr: this.bloodRelationStr
                        };
//                        必填检查
                        this.checkbitian(datas.customerName, 'customerName');
                        this.checkbitian(datas.birthday, 'birthday');
                        this.checkbitian(datas.education, 'education');
                        this.checkbitian(datas.mobile, 'mobile');
                        this.checkbitian(datas.idNo, 'idNo');
                        this.checkbitian(datas.monIncome, 'monIncome');
                        this.checkbitian(datas.workResumeStr, 'list', 'workResumeStr');
                        this.checkbitian(datas.bloodRelationStr, 'list', 'bloodRelationStr');
//                        必填检查
//                       正则检查
                        this.checkregfn(datas.idNo, 'idNo');
                        if (this.submitflag) {
                            this.G('workResume_addWorkResume', datas, function () {
//                                mui.alert('', '填写成功！', '');
//                                setTimeout(function () {
//                                    window.location.href = 'interview_system/submitsuccess.html';
//                                }, 1000)
                            });
                        } else {
                            if (this.errtype === 1) {
//                            mui.alert('', '请填写完整', '');
                                $('#app').scrollTop(0);
                            }
                        }
                    }

                },
//                取消按钮
                back: function () {
                    try {
                        wx.closeWindow();
                    } catch (e) {
                        window.close();
                    }
                },
//                工具
                G: function (type,dates,success) {
                    if(this.flag){
                        this.flag = false;
                        this.HandleData[type].apply(this, [dates, success]);
                    }
                },
                NG: function (type,dates,success) {
                    this.HandleData[type].apply(this, [dates, success]);
                }
            },
            mounted: function () {
                this.$nextTick(function () {
                    this.gettuijianreninfo();
                    this.getjianli();
                })
            }
        })

    </script>
</body>
</html>