<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no,email=no">
    <title>增员邀请</title>
    <base href="../" />
    <link rel="stylesheet" href="gv/common/css/reset.css">
    <link rel="stylesheet" href="gv/interview_system/css/base.css">
    <link rel="stylesheet" href="gv/interview_system/css/icon.css">
    <link rel="stylesheet" href="gv/interview_system/css/increase_invitation.css">
</head>
<body>
    <div id="app">
        <!--头部-->
        <header class="header">
            <div class="info">
                <div class="yms">
                    <span v-text="interviewNum"></span><i>人</i><span class="ms">已填写简历</span>
                </div>
                <div class="tongguo">
                    <span v-text="passNum"></span><i>人</i><span class="ms">通过面试</span>
                </div>
            </div>
            <div class="yaoqingbtn" @click="yaoqing">
                <div class="btn">面试邀请</div>
                <!--<p class="grey">已有<span class="grey_red" v-text="interviewNum"></span>人填写了个人简历</p>-->
            </div>
        </header>
        <div class="ge"></div>
        <!-- 主体 -->
        <main class="main">
            <!-- 导航 -->
            <div class="tabs">
                <ul class="con">
                    <li class="active">我的邀约</li>
                </ul>
                <div class="border1pxh"></div>
            </div>
            <div class="win">
                <div class="yaoyue">
                    <ul>
                        <li v-for="(item, index) in resumeList" :key="index" @click="showjianli(item)">
                            <div class="con">
                                <div class="info">
                                    <div class="name">{{item.interviewName}}</div>
                                    <div class="stateBox">
                                        <div class="state" :class="item.statu == 5?'error':''">{{item.statu | mianshistate}}</div>
                                        <div class="time grey">{{item.inputDate | dataxg}}</div>
                                    </div>
                                </div>
                                <div class="border1pxh"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
    <script src="gv/common/js/jquery-1.9.1.min.js"></script>
    <script src="gv/common/js/common.js"></script>
    <script src="gv/interview_system/config/index.js"></script>
    <script src="gv/interview_system/api/index.js"></script>
    <script src="gv/common/js/vconsole.min.js"></script>
    <script src="gv/common/js/vue2.2.2.min.js"></script>
    <script src="gv/common/js/mui.min3.4.1.js"></script>

    <script>
        var agentCode = GetQueryString('agentCode');
        var myAPP = new Vue({
            el: '#app',
            data: function () {
                return {
//                    工具
                    flag: true,
//                    工具
                    agentCode: agentCode,
                    interviewNum: '180',
                    inviteNum: '92',
                    passNum: '88',
                    resumeList: [{
                        "resumeId": "1",
                        "interviewName": "张三",
                        "statu": "0", // 待审批4  通过 2 不通过5
                        "inputDate": "2018/12/12"
                    },{
                        "resumeId": "2",
                        "interviewName": "张三",
                        "statu": "1", //待审批4  通过 2 不通过5
                        "inputDate": "2018/12/12"
                    }],
//                    api
                    HandleData: {
                        interview_resumeList: interview_resumeList
                    }
                }
            },
            methods: {
//                 获取我的邀约人
                getresumeList: function () {
                    var that = this;
                    this.NG('interview_resumeList', {agentCode: this.agentCode} , function (res) {
                        console.log(res);
                        that.interviewNum = res.interviewNum;
                        that.inviteNum = res.inviteNum;
                        that.passNum = res.passNum;
                        that.resumeList = res.resumeList;
                    })
                },
//                展示简历
                showjianli: function(item) {
                    console.log(item);
                    window.location.href = 'interview_system/showresume.html?resumeId=' + item.resumeId;
                },
//                面试邀请
                yaoqing: function () {
                    window.location.href = 'interview_system/invitation.html'
                },
//                工具
                G: function (type,dates,success) {
                    if(this.flag){
                        this.flag = false;
                        this.HandleData[type].apply(this, [dates, success]);
                    }
                },
                NG: function (type,dates,success) {
                    this.HandleData[type].apply(this, [dates, success]);
                }
            },
            mounted: function () {
                this.$nextTick(function () {
                    this.getresumeList();
                })
            },
            filters: {
                mianshistate: function (val) {
                    switch  (val) {
                        case '1': return '邀约成功';
                        case '2': return '面试通过';
                        case '3': return '新人培训';
                        case '4': return '提交审核';
                        case '5': return '面试不通过';
                    }
                    return '';
                },
                dataxg: function (val) {
                    try {
                        var arr = val.split('-');
                        return arr[0] + '/' + arr[1] + '/' + arr[2]
                    } catch (e) {
                        return val
                    }
                }
            }
        })

    </script>
</body>
</html>