<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no,email=no">
    <title>增员面试</title>
    <base href="../" />
    <link rel="stylesheet" href="gv/common/css/reset.css">
    <link rel="stylesheet" href="gv/common/css/mui.min.css">
    <link rel="stylesheet" href="gv/common/css/mui.picker2.0.0.min.css">
    <link rel="stylesheet" href="gv/interview_system/css/base.css">
    <link rel="stylesheet" href="gv/interview_system/css/icon.css">
    <link rel="stylesheet" href="gv/interview_system/css/increase_interview.css">
    <style>
        #app{
            position: relative;
        }
        .error{
            color: #ec9696;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="mui-scroll">
            <!--头部-->
            <header class="header">
                <div class="info">
                    <div class="ewm">
                        <img v-if="ewmimg" :src="ewmimg" alt="面试二维码">
                    </div>
                    <div class="center">
                        <p>面试二维码</p>
                        <p class="grey">（点击查看二维码）</p>
                    </div>
                </div>
            </header>
            <div class="ge"></div>
            <!-- 主体 -->
            <main class="main">
                <!-- 查询 -->
                <div class="searchBox">
                    <div class="con">
                        <div class="inputBox">
                            <div class="icon search"></div>
                            <input type="text" placeholder="请输入姓名查询" v-model="name" @input="searchname">
                        </div>
                    </div>
                </div>
                <div class="border1pxh"></div>
                <div class="tabs" @click="checkpicker('statu', 'staustr')">
                    <span v-text="staustr"></span>
                    <span class="icon selecticon"></span>
                </div>
                <div class="border1pxh"></div>
                <div class="win">
                    <div class="list">
                        <ul>
                            <li v-for="(item, index) in yaoyuelist" :key="index" @tap="showjianli(item)">
                                <div class="con">
                                    <div class="info">
                                        <div class="name">
                                            <span>{{item.name}}</span>
                                            <span>{{item.mobile}}</span>
                                        </div>
                                        <div class="btns">
                                            <button type="button" class="mui-btn mui-btn-success" @tap.stop="pass(item, index)" v-if="!(item.statu == 2 || item.statu == 5)">通过</button>
                                            <button type="button" class="mui-btn mui-btn-danger" @tap.stop="nopass(item)" v-if="!(item.statu == 2 || item.statu == 5)">不通过</button>
                                            <span v-if="item.statu == 2 || item.statu == 5" :class="item.statu == 5?'error':''">{{item.statu | mianshistate}}</span>
                                        </div>
                                    </div>
                                    <div class="border1pxh"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="gv/common/js/jquery-1.9.1.min.js"></script>
    <script src="gv/common/js/common.js"></script>
    <script src="gv/interview_system/config/index.js"></script>
    <script src="gv/interview_system/api/index.js"></script>
    <script src="gv/common/js/mui.min3.4.1.js"></script>
    <script src="gv/common/js/mui.picker2.0.0.min.js"></script>
    <script src="gv/common/js/vconsole.min.js"></script>
    <script src="gv/common/js/vue2.2.2.min.js"></script>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.10&key=94ffaeec66243b39d8e94fa639dfe1bf"></script>
    <script src="gv/interview_system/api/getLocation.js"></script>
    <script>
        var agentCode = GetQueryString('agentCode');
        var myAPP = new Vue({
            el: '#app',
            data: function () {
                return {
//                工具
                    flag: true,
                    pickerinfo: {
//                        状态
                        statu:{
                            list: [ {
                                value: "",
                                text: "全部"
                            },{
                                value: "2",
                                text: "通过"
                            },{
                                value: "4",
                                text: "待审批"
                            },{
                                value: "5",
                                text: "不通过"
                            }],
                            value: ''
                        }
                    },
                    searcht: null,
//                工具
//                    面试人员姓名
                    name: '',
//                    面试官工号
                    agentCode: '',
//                  全部 传空  待审批4  通过 2 不通过5
                    statu: '',
                    staustr: '全部',
                    longitude: '',
                    latitude: '',
                    ewmimg: '',
                    yaoyuelist: [
                        {
                            "id":"1",
                            "name":"张三1",
                            "mobile":"13214899912",
                            "statu":"5",
                            "interviewDate":"2018-12-12",
                            "interviewerLongitude":"",
                            "inviterAgent":"",
                            "interviewerAgent":"",
                            "createDate":"",
                            "interviewerLat":"",
                            "longitude":"",
                            "lat":"",
                            "interviewResult":"",
                            "rated":"",
                            "openid":"",
                            "customerid":"",
                            "comment":""
                        },
                        {"id":"2","name":"dfsrwqea","mobile":"4132","statu":"4","interviewDate":"","interviewerLongitude":"","inviterAgent":"","interviewerAgent":"","createDate":"","interviewerLat":"","longitude":"","lat":"","interviewResult":"","rated":"","openid":"","customerid":"","comment":""}],
                    interviewId:'',
//                    api
                    HandleData: {
                        workResume_changeInterViewStatu: workResume_changeInterViewStatu,
                        workResume_queryInterviewByagentCode:　workResume_queryInterviewByagentCode,
                        workResume_getQrcodeData: workResume_getQrcodeData
                    }
                }
            },
            methods: {
//                填写姓名查询
                searchname: function () {
                    var that = this;
                    if (this.searcht) {
                        clearTimeout(this.searcht);
                    }
                    this.searcht = setTimeout(function () {
                        that.getlist('new');
                    }, 1000)
                },
//                面试官根据状态查询自己面试过人员列表
                getlist: function (type) {
                    var that = this;
                    if (type === 'new') {
                        this.yaoyuelist = [];
                    }
                    this.NG('workResume_queryInterviewByagentCode', {name:this.name, agentCode: this.agentCode, statu: this.statu}, function (res) {
                        that.yaoyuelist = res;
                    })
                },
//                获得二维码地址
                getewm: function () {
                    var that = this;
                    this.NG('workResume_getQrcodeData', { agentCode: this. agentCode, longitude: this.longitude, latitude: this.latitude}, function (res) {
                        console.log(res);
                        that.ewmimg = res;
                    })
                },
//                查看简历
                showjianli: function (item) {
                    window.location.href = 'interview_system/approval.html?statu=' + item.statu
                },
//                 通过
                pass: function (item, index) {
                    var that = this;
                    $('body').addClass('pass');
                    mui.confirm('确认操作？', function (e) {
                        if (e.index === 1) {
                            item.statu = 2;
                            console.log('通过！');
                            that.G('workResume_changeInterViewStatu', {interviewId: item.id, statu: '2'}, function () {

                                that.yaoyuelist.splice(index, 1 , {
                                    "id": item.id,
                                    "name": item.name,
                                    "mobile": item.mobile,
                                    "statu": '2',
                                    "interviewDate":"2018-12 item2018.",
                                    "interviewerLongitude": item.interviewerLongitude,
                                    "inviterAgent": item.inviterAgent,
                                    "interviewerAgent": item.interviewerAgent,
                                    "createDate": item.createDate,
                                    "interviewerLat": item.interviewerLat,
                                    "longitude": item.longitude,
                                    "lat": item.lat,
                                    "interviewResult": item.interviewResult,
                                    "rated": item.rated,
                                    "openid": item.openid,
                                    "customerid": item.customerid,
                                    "comment": item.comment
                                });
                            })
                        }
                    });
                },
//                 不通过
                nopass: function (item) {
                    var that = this;
                    $('body').removeClass('pass');
                    mui.confirm('确认操作？', function (e) {
                        if (e.index === 1) {
                            console.log('不通过！');
                            that.G('workResume_changeInterViewStatu', {interviewId: item.id, statu: '5'}, function () {
                                that.yaoyuelist.splice(index, 1 , {
                                    "id": item.id,
                                    "name": item.name,
                                    "mobile": item.mobile,
                                    "statu": '5',
                                    "interviewDate":"2018-12 item2018.",
                                    "interviewerLongitude": item.interviewerLongitude,
                                    "inviterAgent": item.inviterAgent,
                                    "interviewerAgent": item.interviewerAgent,
                                    "createDate": item.createDate,
                                    "interviewerLat": item.interviewerLat,
                                    "longitude": item.longitude,
                                    "lat": item.lat,
                                    "interviewResult": item.interviewResult,
                                    "rated": item.rated,
                                    "openid": item.openid,
                                    "customerid": item.customerid,
                                    "comment": item.comment
                                });
                            })
                        }
                    });
                },
                checkpicker: function (type, key, key1, ind, key2) {
                    var that = this;
                    var picker = new mui.PopPicker();
                    picker.setData(this.pickerinfo[type].list);
                    picker.pickers[0].setSelectedValue(this.pickerinfo[type].value, 1000);
                    picker.show(function(SelectedItem) {
                        if (key === 'list') {
                            that[key1][ind][key2] = SelectedItem[0].text;
                        } else {
                            that[key] = SelectedItem[0].text;
//                            查询
                            that[type] = SelectedItem[0].value;
                            that.getlist('new');
                        }
                        picker.dispose();
                    })
                },
                //                工具
                G: function (type,dates,success) {
                    if(this.flag){
                        this.flag = false;
                        this.HandleData[type].apply(this, [dates, success, 'G']);
                    }
                },
                NG: function (type,dates,success) {
                    this.HandleData[type].apply(this, [dates, success]);
                }

            },
            mounted: function () {
                this.$nextTick(function () {
                    var that = this;
                    this.getlist();
                    console.log('开始获取地址');
                    gd_getLocation(function (latitude, longitude, e) {
                        console.log(latitude);
                        console.log(longitude);
                        console.log(e);
                        if (latitude === 'error') {
                            mui.alert('获取地理位置失败，请重新操作！');
//                            setTimeout(function () {
//                                window.location.reload();
//                            }, 1000)
                        } else {
//                            if (e > 200) {
//                                mui.alert('获取地理位置失败，1s后将刷新重试！');
//                                setTimeout(function () {
//                                    window.location.reload();
//                                }, 1000)
//                            } else {
                                console.log('获取地址');
                                that.latitude = latitude;
                                that.longitude = longitude;
                                that.getewm();
//                            }
                        }
                    })
//                    mui.init({
//                        pullRefresh : {
//                            container: '#app',//待刷新区域标识，querySelector能定位的css选择器均可，比如：id、.class等
//                            up : {
//                                height: 50,//可选.默认50.触发上拉加载拖动距离
//                                contentrefresh : "正在加载...",//可选，正在加载状态时，上拉加载控件上显示的标题内容
//                                contentnomore:'没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
//                                callback : function () {
//                                    console.log(1);
//                                    setTimeout(function () {
//                                        mui('#app').pullRefresh().endPullupToRefresh();
//                                    })
//                                } //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
//                            }
//                        }
//                    });
                })
            },
            filters: {
                mianshistate: function (val) {
                    switch  (val) {
                        case '1': return '邀约成功';
                        case '2': return '面试通过';
                        case '3': return '新人培训';
                        case '4': return '提交审核';
                        case '5': return '面试不通过';
                    }
                    return '';
                }
            }
        })

    </script>
</body>
</html>