<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no,email=no">
    <title>华夏保险销售从业人员信息表</title>
    <base href="../../" />
    <link rel="stylesheet" href="gv/common/css/reset.css">
    <link rel="stylesheet" href="gv/common/css/mui.min.css">
    <link rel="stylesheet" href="gv/interview_system/css/base.css">
    <link rel="stylesheet" href="gv/interview_system/css/icon.css">
    <link rel="stylesheet" href="gv/interview_system/css/showresume.css">
    <style>
        body{
            overflow: auto!important;
        }
        #app{
            height: auto!important;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="height0">
            <div class="down">
                <button type="button" class="mui-btn mui-btn-danger">长按页面下载简历图</button>
            </div>
        </div>

        <div v-if="!jianliimg" id="jianlihtml" class="jianlihtml">
            <!-- 推荐人 -->
            <div class="tuijianren">
                <div class="con">
                    <div>
                        <span>推荐人姓名：</span> <span v-text="courseInfo.refereeName"></span>
                    </div>
                    <div>
                        <span>推荐人工号：</span> <span v-text="courseInfo.agentCode"></span>
                    </div>
                    <div>
                        <span>推荐人部门：</span> <span v-text="comName"></span>
                    </div>
                    <div class="border1pxh"></div>
                </div>
            </div>
            <!--个人简历-->
            <div class="jianli" :class="show?'show':''">
                <!--基本信息-->
                <div class="jbxx" >
                    <div class="con">
                        <div class="name">
                            <span v-text="courseInfo.customerName"></span>
                            <span class="icon" :class="courseInfo.customerSex==1?'women':'men'"></span>
                        </div>
                        <div class="info">
                            <span>{{courseInfo.customerBirthday | Birthday}} / {{courseInfo.education}} / {{courseInfo.idNo}} / 月均收入{{courseInfo.monIncome}} </span>
                        </div>
                        <div class="tel">
                            <span class="icon phone"></span>
                            <span v-text="courseInfo.mobile">1283982321</span>
                        </div>
                        <div class="border1pxh"></div>
                    </div>
                </div>
                <!--工作经历-->
                <div class="gzjy">
                    <div class="con">
                        <div class="sgq_title">工作经历</div>
                        <div class="item" v-for="(item, index) in  workList" :key="index">
                            <div>
                                <span>{{item.startDate | Birthday}}</span>
                                <span> - </span>
                                <span>{{item.endDate | Birthday}}</span>
                            </div>
                            <div v-text="item.unitWork"></div>
                            <div class="grey zmr">
                                <span v-text="item.rank" class="rank"></span>
                                <span class="witness">
                                <span>证明人：</span>
                                <span v-text="item.witness"></span>
                            </span>
                            </div>
                        </div>
                        <div class="border1pxh"></div>
                    </div>
                </div>
                <!--家庭情况-->
                <div class="jtqk">
                    <div class="con">
                        <div class="sgq_title">家庭情况</div>
                        <div class="item" v-for="(item, index) in  bloodList" :key="index">
                            <div v-text="item.name"></div>
                            <div>
                                <span>{{item.customerBirthday | Birthday}} / {{item.relationship}} / {{item.unitWork}}</span>
                            </div>
                            <div class="tel">
                                <span class="icon phone"></span>
                                <span v-text="item.mobile"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jianliimg" id="jianliimg">
            <img v-if="jianliimg" :src="jianliimg" alt="">
        </div>
    </div>
    <script src="gv/common/js/jquery-1.9.1.min.js"></script>
    <script src="gv/common/js/common.js"></script>
    <script src="gv/interview_system/config/index.js"></script>
    <script src="gv/interview_system/api/index.js"></script>
    <script src="gv/common/js/vconsole.min.js"></script>
    <script src="gv/common/js/vue2.2.2.min.js"></script>
    <script src="gv/common/js/mui.min3.4.1.js"></script>
    <script src="gv/interview_system/js/html2canvas.js"></script>

    <script>
        var resumeId = GetQueryString('resumeId');
        var myAPP = new Vue({
            el: '#app',
            data: function () {
                return {
//                    工具
                    flag: true,
                    show: false,
//                    工具
                    jianliimg: '',
                    resumeId: resumeId,
//                    工作经历集合
                    workList: [{
                        "id": 1,
                        "startDate": "2016-11-12",
                        "endDate": "2017-12-01",
                        "unitWork": "单位",
                        "rank": "职员",
                        "witness": "李四",
                        "createDate": "2018-11-26 11:21:22",
                        "customerId": "1"
                    }],
//                    基本信息
                    courseInfo: {
                        "customerId": "1",
                        "customerName": "张三",
                        "customerSex": "1",
                        "customerBirthday": "2018-11-26",
                        "education": "1",
                        "mobile": "13222221111",
                        "idNo": "111111111111",
                        "idType": "01",
                        "receiptNum": "",
                        "monIncome": "20万",
                        "manpower": "",
                        "attendManpower": "",
                        "refereeName": "李四",
                        "agentCode": "10000001",
                        "physical": "优秀",
                        "interview": "0",
                        "createDate": "2018-11-26",
                        "updateDate": "",
                        "remark": "",
                        "headImg": ""
                    },
//                    推荐人部门
                    comName: '华夏人寿保险股份有限公司北京分公司营业本部',
//                    家庭情况集合
                    bloodList: [{
                        "id": 1,
                        "customerId": "1",
                        "name": "张大",
                        "customerBirthday": "2018-11-26",
                        "relationship": "父子",
                        "unitWork": "单位",
                        "mobile": "13200000000",
                        "createDate": "2018-11-26 11:22:22"
                    }],
//                    api
                    HandleData: {
                        interview_resumeInfo: interview_resumeInfo
                    }
                }
            },
            methods: {
                getjianli: function () {
                    var that = this;
                    this.NG('interview_resumeInfo', {resumeId: resumeId}, function (res) {
                        that.workList = res.workList;
                        that.courseInfo = res.courseInfo;
                        that.bloodList = res.bloodList;
                        that.comName = res.comName;
                        that.$nextTick(function () {
                            that.getjianliimg();
                        })
                    })
                },
//                生成简历图
                getjianliimg: function () {
                    var that = this;
                    this.$nextTick(function () {
                        html2canvas(document.getElementById('jianlihtml'), {
//                        useCORS: true,
//                        width: window.screen.availWidth,
//                        height: window.screen.availHeight,
//                        windowWidth: document.body.scrollWidth,
//                        windowHeight: document.body.scrollHeight,
//                        x: 0,
//                        y: window.pageYOffset

                        }).then(function (canvas) {
                            var url = canvas.toDataURL('image/png');
                            that.jianliimg = url;
                        })

                    })
                },
//                工具
                G: function (type,dates,success) {
                    if(this.flag){
                        this.flag = false;
                        this.HandleData[type].apply(this, [dates, success]);
                    }
                },
                NG: function (type,dates,success) {
                    this.HandleData[type].apply(this, [dates, success]);
                }
            },
            mounted: function () {
                this.$nextTick(function () {
                    var that = this;
                    this.show = true;
//                    this.getjianli();
                    html2canvas(document.getElementById('jianlihtml'), {
//                        useCORS: true,
//                        width: window.screen.availWidth,
//                        height: window.screen.availHeight,
//                        windowWidth: document.body.scrollWidth,
//                        windowHeight: document.body.scrollHeight,
//                        x: 0,
//                        y: window.pageYOffset

                    }).then(function (canvas) {
                        var url = canvas.toDataURL('png');
                        that.jianliimg = url;
                    })

                })
            },
            filters: {
                Birthday: function (val) {
                    try {
                        var arr = val.split('-');
                        return arr[0] + '.' + arr[1];
                    } catch (e) {
                        return val;
                    }
                }
            }
        })

    </script>
</body>
</html>