<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no,email=no">
    <title>提交成功</title>
    <base href="../" />
    <link rel="stylesheet" href="gv/common/css/reset.css">
    <link rel="stylesheet" href="gv/interview_system/css/base.css">
    <style>
        #app{
            background: #fff;
            padding-top: 1px;
            color: #333;

        }
        .img img{
            margin-top: 2.34rem;
            width: 10.08rem;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .center{
            font-size: .72rem;
            margin-top: 1.74rem;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="img">
            <img src="gv/interview_system/images/sgq_submitsuccess.png" alt="">
        </div>
        <div class="center">
            <p>恭喜您，已成功提交简历！</p>
        </div>
    </div>
    <script src="gv/common/js/jquery-1.9.1.min.js"></script>
    <script src="gv/common/js/common.js"></script>
</body>
</html>