.content {
  height: 100%;
  width: 100%;
  overflow: auto;
  background: #f1f1f1;
  color: #333;
}
.content a {
  color: #333;
}
.content .banner {
  height: 10.6rem;
  background: url("../images/sgq_bannerbg@2x.png");
  background-size: 100%;
  color: #fff;
}
.content .banner .touxiangBox {
  padding-top: .3rem;
  padding-left: .56rem;
  padding-right: .64rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.content .banner .touxiangBox .leftside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.content .banner .touxiangBox .leftside .touxiang {
  width: 2.26rem;
  height: 2.26rem;
  background: url("../images/sgq_touxiangbox@2x.png");
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.content .banner .touxiangBox .leftside .touxiang .imgbox {
  width: 1.74rem;
  height: 1.74rem;
  border-radius: 50%;
  overflow: auto;
}
.content .banner .touxiangBox .leftside .touxiang img {
  width: 100%;
  height: auto;
}
.content .banner .touxiangBox .leftside .name {
  margin-left: .14rem;
  font-size: .64rem;
  margin-top: .4rem;
}
.content .banner .touxiangBox .leftside .renzheng {
  width: 1.94rem;
  height: .64rem;
  margin-left: .3rem;
  margin-top: .4rem;
  background: url("../images/sgq_renzheng@2x.png");
  background-size: contain;
}
.content .banner .touxiangBox .rightside .memberclass {
  margin-top: .34rem;
  width: 3.66rem;
  height: .64rem;
  background-size: contain;
}
.content .banner .jifenbox {
  text-align: center;
}
.content .banner .jifenbox .wdjf {
  height: 1.22rem;
  padding-top: .36rem;
  box-sizing: border-box;
}
.content .banner .jifenbox .integralBox {
  height: 2.2rem;
  font-size: 1.5rem;
  box-sizing: border-box;
  padding-top: .26rem;
  color: #fff;
  position: relative;
  opacity: 0;
}
.content .banner .jifenbox .integral {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 2.2rem;
  font-size: 1.5rem;
  box-sizing: border-box;
  padding-top: .26rem;
  background-image: url("../images/sgq_jifenbg@2x.png");
  -webkit-background-clip: text;
  background-clip: text;
  background-size: auto 400%;
  background-repeat: repeat-x;
  background-position: center -4.5rem;
  color: transparent;
  opacity: 0;
}
.content .banner .jifenbox .integral.show {
  opacity: 1;
}
.content .banner .jifenbox .integralBox.start {
  opacity: 1;
}
.content .banner .jifenbox .cha {
  height: .7rem;
  padding-top: .12rem;
  box-sizing: border-box;
  font-size: .44rem;
  line-height: .44rem;
  color: #ffeeef;
}
.content .banner .jifenbox .memberlist {
  height: 1.02rem;
  line-height: 1.02rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 11.88rem;
  margin: 0 auto;
  box-sizing: border-box;
  padding-right: .24rem;
}
.content .banner .jifenbox .memberlist li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  color: #ffd4d7;
}
.content .banner .jifenbox .memberlist li .icon {
  width: .3rem;
  height: .3rem;
  margin-top: .36rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  background-size: 100%;
  margin-right: .16rem;
  margin-left: .08rem;
}
.content .banner .jifenbox .memberlist li span {
  font-size: .52rem;
}
.content .banner .jifenbox .memberlist li span.active {
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 .14rem #f2e3c1;
}
.content .banner .jifenbox .tiao {
  position: relative;
  height: .22rem;
  width: 11.88rem;
  margin: 0 auto;
}
.content .banner .jifenbox .tiao .jindu {
  background-size: 100% 100%;
  height: 100%;
}
.content .banner .jifenbox .tiao .memberdian {
  position: absolute;
  top: -0.13rem;
  margin-left: -0.16rem;
  width: .32rem;
  height: .46rem;
  background-size: contain;
}
.content .banner .wdqy {
  margin-top: .58rem;
}
.content .banner .wdqy img {
  display: block;
  margin: 0 auto;
  width: 4.66rem;
}
.content .shadowbox {
  background: #fff;
  box-shadow: 0 0.14rem 0.4rem rgba(195, 125, 146, 0.13);
  border-radius: .4rem;
}
.content main {
  background: #fff;
  border-top: 1px solid #fff;
}
.content main section {
  width: 14.2rem;
  margin: 0 auto;
}
.content main .baodanBox {
  margin-top: -0.6rem;
}
.content main .baodanBox ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .6rem 1.2rem .4rem;
}
.content main .baodanBox ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.content main .baodanBox ul li img {
  width: 1.9rem;
  height: 1.68rem;
  display: block;
  margin-bottom: .4rem;
}
.content main .daibanBox {
  margin-top: .7rem;
}
.content main .daibanBox .daiban {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: .92rem;
  font-size: .52rem;
}
.content main .daibanBox .daiban .title {
  width: 2.94rem;
  height: .92rem;
  line-height: .92rem;
  background: url("../images/sgq_daibantitle@2x.png");
  background-size: 100%;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: #fff;
  padding-left: .32rem;
  font-weight: bold;
  box-sizing: border-box;
}
.content main .daibanBox .daiban .con {
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  overflow: hidden;
  line-height: .92rem;
  position: relative;
}
.content main .daibanBox .daiban .con ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.content main .daibanBox .daiban .con li {
  width: 100%;
}
.content main .daibanBox .daiban .con li a {
  box-sizing: border-box;
  padding-left: .4rem;
  width: 100%;
  height: .92rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content main .daibanBox .daiban .more {
  width: 1.56rem;
  height: .642rem;
  line-height: .642rem;
}
.content main .daibanBox .daiban .more a {
  display: block;
  width: 1.56rem;
  padding-left: .32rem;
  height: .642rem;
  color: #b3b3b3;
  box-sizing: border-box;
  border-left: .04rem solid #b3b3b3;
}
.content main .mainlist {
  margin-top: 1rem;
  font-size: .52rem;
}
.content main .mainlist ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.content main .mainlist ul li {
  width: 25%;
  margin-bottom: 1.24rem;
}
.content main .mainlist ul li p {
  line-height: .76rem;
}
.content main .mainlist ul li:nth-child(5) {
  margin-bottom: .64rem;
}
.content main .mainlist ul li:nth-child(6) {
  margin-bottom: .64rem;
}
.content main .mainlist ul li:nth-child(7) {
  margin-bottom: .64rem;
}
.content main .mainlist ul li:nth-child(8) {
  margin-bottom: .64rem;
}
.content main .mainlist ul li:nth-child(8) img {
  width: .92rem;
  height: auto;
}
.content main .mainlist ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.content main .mainlist ul .img {
  width: 1.3rem;
  height: 1.04rem;
  margin: 0 auto .6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.content main .mainlist ul img {
  height: 1.04rem;
  display: block;
}
.content .teseBox {
  margin-top: .32rem;
  background: #fff;
}
.content .teseBox ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  width: 14.16rem;
  margin: .88rem auto 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.content .teseBox ul li a {
  display: block;
}
.content .teseBox ul li a img {
  height: 3.46rem;
}
.content .isbottom {
  background: #fff;
  padding-top: .56rem;
  padding-bottom: .74rem;
  text-align: center;
  color: #b3b3b3;
  font-size: .44rem;
}
.dbultitle {
  padding-top: 1.04rem;
  height: 1.62rem;
  box-sizing: border-box;
  background: url("../images/sgq_Activities@2x.png");
  background-size: auto 1rem;
  background-position: center .58rem ;
  background-repeat: no-repeat;
  text-align: center;
  color: #1a1a1a;
  font-size: .68rem;
  font-weight: bold;
}
.customer {
  position: fixed;
  right: .58rem;
  bottom: 4rem;
  width: 2.88rem;
  height: 3.12rem;
  background-size: contain;
}
.customer a {
  display: block;
  width: 100%;
  height: 100%;
}
.suggest {
  position: fixed;
  right: .58rem;
  bottom: .92rem;
  width: 2.9rem;
  height: 2.88rem;
  background-size: contain;
}
.suggest a {
  display: block;
  width: 100%;
  height: 100%;
}
.rights2 .banner {
  height: 9.12rem;
}
.rights2 main {
  background: transparent;
  padding-bottom: .6rem;
}
.rights2 .zxfwBox {
  margin-top: -0.6rem;
}
.rights2 .zxfwBox .dbultitle {
  background-image: url("../images/sgq_enjoy-service@2x.png");
  background-size: auto .88rem;
}
.rights2 .zxfwBox ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: .7rem;
}
.rights2 .zxfwBox li a img {
  width: 6.2rem;
}
.rights2 .myfuli {
  margin-top: .32rem;
}
.rights2 .myfuli a {
  display: block;
}
.rights2 .myfuli a img {
  display: block;
  width: 100%;
}
.rights2 .vipBox {
  margin-top: .32rem;
}
.rights2 .vipBox .dbultitle {
  background-image: url("../images/sgq_VIP-Club-@2x.png");
  background-size: auto .88rem;
}
.rights2 .vipBox ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: .7rem;
  padding-bottom: .86rem;
}
.rights2 .vipBox ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.rights2 .vipBox ul img {
  display: block;
  height: 1.9rem;
}
.rights2 .vipBox ul p {
  margin-top: .44rem;
  font-size: .56rem;
}
