html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-size: 16px;
}
main section {
  display: block;
}
.f32 {
  font-size: .64rem;
  line-height: .64rem;
}
.f30 {
  font-size: .6rem;
  line-height: .6rem;
}
.f38 {
  font-size: .76rem;
  line-height: .76rem;
}
.f22 {
  font-size: .44rem;
  line-height: .44rem;
}
.f20 {
  font-size: .4rem;
  line-height: .4rem;
}
.f24 {
  font-size: .48rem;
  line-height: .48rem;
}
.f26 {
  font-size: .52rem;
  line-height: .52rem;
}
