.icon {
  background-repeat: no-repeat;
}
.icon.huangjin {
  background-image: url("../images/sgq_gold_member@2x.png");
}
.icon.memberok {
  background-image: url("../images/sgq_member_ok@2x.png");
}
.icon.memberno {
  background-image: url("../images/sgq_member_no@2x.png");
}
.icon.memberdian {
  background-image: url("../images/sgq_jifendian@2x.png");
}
.icon.memberjindu {
  background-image: url("../images/sgq_jinfentiao@2x.png");
}
.icon.customer {
  background-image: url("../images/sgq_customer@2x.png");
}
.icon.suggest {
  background-image: url("../images/sgq_suggest@2x.png");
}
