.content {
  height: 100%;
  width: 100%;
  overflow: auto;
  background: #f1f1f1;
  color: #333;
}
.content a {
  color: #333;
}
.more_servesBox {
  background: #f1f1f1;
}
.more_servesBox main {
  background: #f1f1f1;
  border-top: 1px solid #f1f1f1;
}
.more_servesBox main .mainlist {
  font-size: .52rem;
}
.more_servesBox main .mainlist .servestitle {
  color: #242424;
  font-size: .6rem;
  margin-bottom: 1.4rem;
  padding-top: .96rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.more_servesBox main .mainlist .servestitle::before {
  content: '';
  width: .12rem;
  height: .46rem;
  background: #ff7e84;
  border-radius: .06rem;
  margin-right: .3rem;
}
.more_servesBox main .mainlist .item {
  padding: 0 0.4rem;
  margin-bottom: .32rem;
  background: #fff;
}
.more_servesBox main .mainlist .item:last-child {
  margin-bottom: 0;
  padding-bottom: 1.2rem;
}
.more_servesBox main .mainlist ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.more_servesBox main .mainlist ul li {
  width: 25%;
  margin-bottom: 1.24rem;
}
.more_servesBox main .mainlist ul li p {
  line-height: .76rem;
}
.more_servesBox main .mainlist ul li.col3 {
  width: 33.333%;
}
.more_servesBox main .mainlist ul li:nth-last-child(1) {
  margin-bottom: .64rem;
}
.more_servesBox main .mainlist ul li:nth-last-child(2) {
  margin-bottom: .64rem;
}
.more_servesBox main .mainlist ul li:nth-last-child(3) {
  margin-bottom: .64rem;
}
.more_servesBox main .mainlist ul li:nth-last-child(4) {
  margin-bottom: .64rem;
}
.more_servesBox main .mainlist ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.more_servesBox main .mainlist ul .img {
  width: 1.3rem;
  height: 1.04rem;
  margin: 0 auto .6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.more_servesBox main .mainlist ul img {
  width: .92rem;
  display: block;
}
