<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no,email=no">
    <base href="../" />
    <!-- 生产环境 -->
    <!--<base href="http://oss-oltrain.ihxlife.com/MicroClass/" />-->
    <title>华夏公益大讲堂</title>
    <link rel="stylesheet" href="gv/common/css/reset.css">
    <link rel="stylesheet" href="gv/common/css/mui.min.css">
    <link rel="stylesheet" href="gv/common/css/mui.picker2.0.0.min.css">
    <link rel="stylesheet" href="gv/commonweal_classroom/css/base.css">
    <link rel="stylesheet" href="gv/commonweal_classroom/css/icon.css">
    <link rel="stylesheet" href="gv/commonweal_classroom/css/curriculum.css">
    <script src="gv/common/js/hideOptionMenu.js"></script>
</head>
<body>
    <div id="app" v-cloak>
        <!--banner-->
        <div class="banner">
            <ul>
                <li>
                    <img src="gv/commonweal_classroom/images/demo_kc.png" alt="">
                    <a href="javascript:;" class="icon play">
                        
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">
            <!--课程-->
            <div class="kecheng clearfix">
                <div class="item">
                    <div class="imgBox" style="background-image: url(gv/commonweal_classroom/images/demo_kc.png)">
                        <div class="lable">往期回放</div>
                        <div class="share">点击生成分享海报</div>
                        <div class="zhezhao">
                            <div class="yuan">
                                <span>
                                    尚未<br>开始
                                </span>
                            </div>
                        </div>
                    </div>
                    <p>持续绩优成长，迈向明星殿堂持续绩优成长，迈向明星殿堂</p>
                </div>
            </div>
        </div>
        <div class="main jinlika">
            <!--锦鲤卡-->
            <div class="title">赠险免费领</div>
            <div class="img">
                <a href=""></a>
            </div>
        </div>
    </div>
    <script src="gv/common/js/jquery-1.9.1.min.js"></script>
    <script src="gv/common/js/common.js"></script>
    <script src="gv/commonweal_classroom/api/index.js"></script>
    <script src="gv/common/js/vconsole.min.js"></script>
    <script src="gv/common/js/vue2.2.2.min.js"></script>
    <script src="gv/common/js/mui.min3.4.1.js"></script>
    <script src="gv/common/js/mui.picker2.0.0.min.js"></script>
    <script>
        var v = new VConsole();
        var myAPP = new Vue({
            el: '#app',
            data: function () {
                return {
//                    工具
                    flag: true,
//                    工具
                    kechenglist: [

                    ],
//                    正则
                    reg: {
                    },
//                    api
                    HandleData: {
                    }
                }
            },
            methods: {
//                工具
                G: function (type,dates,success) {
                    if(this.flag){
                        this.flag = false;
                        this.HandleData[type].apply(this, [dates, success, 'G']);
                    }
                },
                NG: function (type,dates,success) {
                    this.HandleData[type].apply(this, [dates, success]);
                }
            },
            mounted: function () {
                this.$nextTick(function () {
                })
            },
            filters: {
            }
        })

    </script>
</body>
</html>