<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no,email=no">
    <base href="../" />
    <!-- 生产环境 -->
    <!--<base href="http://oss-oltrain.ihxlife.com/MicroClass/" />-->
    <title>华夏公益大讲堂</title>
    <link rel="stylesheet" href="gv/common/css/reset.css">
    <link rel="stylesheet" href="gv/common/css/mui.min.css">
    <link rel="stylesheet" href="gv/common/css/mui.picker2.0.0.min.css">
    <link rel="stylesheet" href="gv/commonweal_classroom/css/base.css">
    <link rel="stylesheet" href="gv/commonweal_classroom/css/icon.css">
    <link rel="stylesheet" href="gv/commonweal_classroom/css/index.css">
    <script src="gv/common/js/hideOptionMenu.js"></script>
</head>
<body>
    <div id="app" v-cloak>
        <!--banner-->
        <div class="banner">
            <ul>
                <li>
                    <a href="javascript:;">

                    </a>
                </li>
            </ul>
        </div>
        <!--banner-->
        <div class="main">
            <!--导航-->
            <div class="tab">
                <ul>
                    <li>
                        <a href="">
                            <span class="icon kehu"></span>
                            <i>我的客户</i>
                            <div class="xian"></div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="icon tuandui"></span>
                            <i>我的客户</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main">
            <!--课程-->
            <div class="kecheng clearfix">
                <div class="item"  v-for="(item, index) in kechenglist" :key="index">
                    <div class="imgBox">
                        <img :src="item.img" alt="课程图">
                        <div class="lable">{{item.statu | kechengstatu}}</div>
                        <div class="share" @tap.stop="gethaibao(item)">点击生成分享海报</div>
                        <div class="zhezhao" v-if="item.statu == 0">
                            <div class="yuan">
                                <span>
                                    尚未<br>开始
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--截取一下-->
                    <p v-text="item.title"></p>
                </div>
            </div>
        </div>
        <!--海报html-->
        <div class="haibaoBox" v-show="haibaoFlag" @click="haibaoFlag = false">
            <div class="kapian">
                <div class="haibao" id="haibao">
                    <div class="imgBox">
                        <img :src="haibaoinfo.img" alt="海报图">
                        <div class="lable">{{haibaoinfo.statu | kechengstatu}}</div>
                    </div>
                    <div class="ewmbox clearfix">
                        <div class="fl img">
                            <img :src="haibaoinfo.ewm" alt="二维码">
                        </div>
                        <div class="fl con">
                            <h2 v-text="haibaoinfo.title"></h2>
                            <span>扫一扫查看公益课程</span>
                        </div>
                    </div>
                </div>
                <div class="tishi">长按图片保存或者分享~</div>
                <img v-show="haibaoimg" class="haibaoimg" :src="haibaoimg" alt="">
            </div>

        </div>
    </div>
    <script src="gv/common/js/jquery-1.9.1.min.js"></script>
    <script src="gv/common/js/common.js"></script>
    <script src="gv/commonweal_classroom/api/index.js"></script>
    <script src="gv/common/js/vconsole.min.js"></script>
    <script src="gv/common/js/vue2.2.2.min.js"></script>
    <script src="gv/common/js/mui.min3.4.1.js"></script>
    <script src="gv/common/js/mui.picker2.0.0.min.js"></script>
    <script src="gv/commonweal_classroom/js/html2canvas.js"></script>
    <script src="gv/commonweal_classroom/js/checkdep.js"></script>
    <script>
        var agentCode = GetQueryString('agentCode');
        var openid =  GetQueryString('openid');
        var v = new VConsole();
        var myAPP = new Vue({
            el: '#app',
            data: function () {
                return {
//                    工具
                    flag: true,
//                    工具
//                    海报
                    haibaoimg: '',
                    haibaoFlag: false,
                    haibaoinfo: {
                        img: '',
                        ewm: '',
                        title: '',
                        statu: ''
                    },
//                    课程
                    kechenglist: [
                        {
                            id: '',
                            img: 'gv/commonweal_classroom/images/demo_kc.png',
                            title: '持续绩优成长，迈向明星殿堂',
                            statu: '1'
                        }
                    ],
//                    奖品
                    jiangpinFlag: false,
                    jianginfo: {
                        moblie: '',
                        name: '',
                        prizePic: '',
                        prizeName: ''
                    },
//                    正则
                    reg: {
                    },
//                    api
                    HandleData: {
                        activityGetQrcodeData: activityGetQrcodeData,
                        activityGetActivityByopenid: activityGetActivityByopenid,
                    }
                }
            },
            methods: {
                gethaibao: function (item) {
                    var that = this;
                    this.G('activityGetQrcodeData', {activityId: item.id, agentCode: agentCode}, function (res) {
                        that.haibaoinfo.img = item.img;
                        that.haibaoinfo.title = item.title;
                        that.haibaoinfo.statu = item.statu;
                        that.haibaoinfo.ewm = res;
                        that.haibaoFlag = true;
                        html2canvas(document.getElementById('haibao'), {
                        }).then(function (canvas) {
                            var url = canvas.toDataURL('image/png');
                            that.haibaoimg = url;
                        })
                    });
                    setTimeout(function () {
                        that.haibaoinfo.img = item.img;
                        that.haibaoinfo.title = item.title;
                        that.haibaoinfo.statu = item.statu;
                        that.haibaoinfo.ewm = 'gv/commonweal_classroom/images/kc_ewm.png';
                        that.haibaoFlag = true;
                        // change_imgsrc();
                        html2canvas(document.getElementById('haibao'), {
                        }).then(function (canvas) {
                            var url = canvas.toDataURL('image/png');
                            that.haibaoimg = url;
                        })
                    }, 500)
                },
                getjiang: function () {
                    var that = this;
                    this.NG('activityGetActivityByopenid', {openid: openid}, function (res) {
                        that.jiangpinFlag = true;
                        that.jianginfo = res;
                    })
                },
//                工具
                G: function (type,dates,success) {
                    if(this.flag){
                        this.flag = false;
                        this.HandleData[type].apply(this, [dates, success, 'G']);
                    }
                },
                NG: function (type,dates,success) {
                    this.HandleData[type].apply(this, [dates, success]);
                }
            },
            mounted: function () {
                this.$nextTick(function () {
                })
            },
            filters: {
                kechengstatu: function (val) {
                    switch (val) {
                        case '1': return '往期回放';
                        case '2': return '正在直播'
                    }
                }
            }
        })

    </script>
</body>
</html>