<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta http-equiv="Content-Type" content="text/html;">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no,email=no">
    <base href="../" />
    <!-- 生产环境 -->
    <!--<base href="http://oss-oltrain.ihxlife.com/MicroClass/" />-->
    <title>华夏公益大讲堂</title>
    <link rel="stylesheet" href="gv/common/css/reset.css">
    <link rel="stylesheet" href="gv/common/css/mui.min.css">
    <link rel="stylesheet" href="gv/common/css/mui.picker2.0.0.min.css">
    <link rel="stylesheet" href="gv/commonweal_classroom/css/base.css">
    <link rel="stylesheet" href="gv/commonweal_classroom/css/icon.css">
    <link rel="stylesheet" href="gv/commonweal_classroom/css/redpacket.css">
    <script src="gv/common/js/hideOptionMenu.js"></script>
</head>
<body>
<div id="app" v-cloak>
    <!--装饰-->
    <img src="gv/commonweal_classroom/images/red_zs.png" alt="" class="zs">
    <img src="gv/commonweal_classroom/images/red_d1.png" alt="" class="d1">
    <img src="gv/commonweal_classroom/images/red_d2.png" alt="" class="d2">
    <div class="money"></div>
    <img src="gv/commonweal_classroom/images/red_yan.png" alt="" class="yan">
    <div class="flw flw1"></div>
    <div class="flw flw2"></div>
    <img src="gv/commonweal_classroom/images/red_yun1.png" alt="" class="yun1">
    <img src="gv/commonweal_classroom/images/red_yun2.png" alt="" class="yun2" :class="hongbaostate == 2?'move':''">
    <img src="gv/commonweal_classroom/images/red_yun2.png"  alt="" class="yun3" :class="hongbaostate == 2?'in':''">
    <!--装饰-->
    <!-- 内容 -->
    <div class="logo"></div>
    <!-- 未开奖标题-->
    <div class="title noopen" :class="hongbaostate == 2?'move':''">
        <img src="gv/commonweal_classroom/images/red_title.png" alt="">
    </div>
    <div class="guize" @tap="huodongFlag = true">活动规则</div>
    <!--开奖信息-->
    <div class="jiang" :class="hongbaostate == 2?'in':''">
        <img src="gv/commonweal_classroom/images/red_jiangpin.png" alt="">
        <div class="jiangtitle">明安健康儿童医疗包</div>
        <div class="dian">••••••••••••••••••••••••••••••••••••</div>
        <div class="lianxi">
            <span class="icon leftsanjiao"></span>
            <i>赶紧联系您的服务专员，兑换奖品吧~</i>
            <span class="icon rightsanjiao"></span>
        </div>
        <div class="btns">
            <div class="hongbao_btn fl">联系专员</div>
            <div class="hongbao_btn fr">学习育儿教程</div>
        </div>
    </div>
    <!--红包-->
    <div class="bao" :class="hongbaostate == 1?'shake':(hongbaostate == 2?'bao_open':'')">
        <img src="gv/commonweal_classroom/images/red_bao.png" alt="">
        <div class="open"></div>
        <div class="ms">点击“开”按钮</div>
    </div>
    <div class="openbtn" @tap="open" v-if="hongbaostate == 0"></div>
    <!--内容-->
    <!--装饰-->
    <img class="bot" src="gv/commonweal_classroom/images/red_bot.png" alt="">
    <img class="bot_shu" src="gv/commonweal_classroom/images/red_bot_shu.png" alt="">
    <img class="bot_flw" src="gv/commonweal_classroom/images/red_bot_flw.png" alt="">
    <!--装饰-->

    <!-- 弹出框 -->
    <div class="tankuang" v-show="huodongFlag">
        <div class="con">
            <div class="ban">
                <div class="bantitle">
                    <span class="icon notetitlel"></span>
                    <i>活动规则</i>
                    <span class="icon notetitler"></span>
                </div>
                <div class="font">
                    <div class="page">
                        <h2>活动时间：</h2>
                        <p>2019年1月1日——2019年3月31日</p>
                    </div>
                    <div class="page">
                        <h2>参与方法：</h2>
                        <p>注册后打开福袋，即可参与客户回馈抽奖活动；</p>
                    </div>
                    <div class="page">
                        <h2>奖品介绍：</h2>
                        <p>特别奖：明安健康儿童医疗包20000个；</p>
                        <p>幸运奖：华夏精品活动参与卡50000个；</p>
                    </div>
                    <div class="page">
                        <h2>奖品介绍：</h2>
                        <p>1.中奖后请联系您的服务专员领取奖品；</p>
                        <p>2.凭华夏精品活动参与卡可参与华夏精品客户
                            活动一场。</p>
                    </div>
                </div>
            </div>
            <div class="btn hongbao_btn" @tap="huodongFlag = false">我知道了</div>
        </div>
    </div>
    <!--<div class="tankuang">-->
        <!--<div class="con">-->
            <!--<div class="ban">-->
                <!--<div class="bantitle">-->
                    <!--<span class="icon notetitlel"></span>-->
                    <!--<i>活动规则</i>-->
                    <!--<span class="icon notetitler"></span>-->
                <!--</div>-->
                <!--<div class="jianginfo">-->
                    <!--<img src="gv/commonweal_classroom/images/red_jiangpin.png" alt="">-->
                    <!--<p class="jiangmc">明安健康儿童医疗包</p>-->
                    <!--<div class="ms">-->
                        <!--<span class="icon leftsanjiaoh"></span>-->
                        <!--<i>赶紧联系您的服务专员，兑换奖品吧~</i>-->
                        <!--<span class="icon rightsanjiaoh"></span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="btn hongbao_btn">联系专员</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
<script src="gv/common/js/jquery-1.9.1.min.js"></script>
<script src="gv/common/js/common.js"></script>
<script src="gv/commonweal_classroom/api/index.js"></script>
<script src="gv/common/js/vconsole.min.js"></script>
<script src="gv/common/js/vue2.2.2.min.js"></script>
<script src="gv/common/js/mui.min3.4.1.js"></script>
<script src="gv/common/js/mui.picker2.0.0.min.js"></script>
<script>
    var v = new VConsole();
    var myAPP = new Vue({
        el: '#app',
        data: function () {
            return {
//                    工具
                flag: true,
//                    工具
                hongbaostate: 0, // 0 正常 1震动 2 移下
                huodongFlag: false,
                kechenglist: [

                ],
//                    正则
                reg: {
                },
//                    api
                HandleData: {
                }
            }
        },
        methods: {
            open: function () {
                var that = this;
                this.hongbaostate = 1;
                setTimeout(function () {
                    that.hongbaostate = 2;
                }, 2000)
            },
//                工具
            G: function (type,dates,success) {
                if(this.flag){
                    this.flag = false;
                    this.HandleData[type].apply(this, [dates, success, 'G']);
                }
            },
            NG: function (type,dates,success) {
                this.HandleData[type].apply(this, [dates, success]);
            }
        },
        mounted: function () {
            this.$nextTick(function () {
            })
        },
        filters: {
        }
    })

</script>
</body>
</html>