.icon {
  background-repeat: no-repeat;
}
.icon.jiantou {
  background-image: url("../images/sgq_jiantou@2x.png");
}
.icon.add {
  background-image: url("../images/sgq_add.png");
}
.icon.men {
  background-image: url("../images/sgq_men.png");
}
.icon.women {
  background-image: url("../images/sgq_women.png");
}
.icon.phone {
  background-image: url("../images/sgq_phone.png");
}
.icon.search {
  background-image: url("../images/sgq_chaxun.png");
}
.icon.selecticon {
  background-image: url("../images/sgq_xiasanjiao.png");
}
.icon.pingjia1 {
  background-image: url("../images/sgq_pingjia1.png");
}
.icon.pingjia1.active {
  background-image: url("../images/sgq_pingjia1_active.png");
}
.icon.pingjia2 {
  background-image: url("../images/sgq_pingjia2.png");
}
.icon.pingjia2.active {
  background-image: url("../images/sgq_pingjia2_active.png");
}
.icon.pingjia3 {
  background-image: url("../images/sgq_pingjia3.png");
}
.icon.pingjia3.active {
  background-image: url("../images/sgq_pingjia3_active.png");
}
.icon.pingjia4 {
  background-image: url("../images/sgq_pingjia4.png");
}
.icon.pingjia4.active {
  background-image: url("../images/sgq_pingjia4_active.png");
}
.icon.iconsharebtn {
  background-image: url("../images/sgq_share_btn.png");
}
