#app {
  background: #fff;
  color: #333;
  font-size: .52rem;
  line-height: normal;
}
.con {
  padding-left: .6rem;
  padding-right: .6rem;
}
.ge {
  height: .2rem;
  background: #efeff3;
}
.header {
  background: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem .6rem 1rem  .8rem;
}
.header .info {
  font-size: 1.04rem;
  font-weight: bold;
}
.header .info i {
  font-size: .4rem;
  font-weight: normal;
}
.header .info .yms {
  margin-bottom: .6rem;
}
.header .info .ms {
  margin-left: .6rem;
  font-size: .52rem;
  font-weight: normal;
}
.header .yaoqingbtn .btn {
  width: 4.4rem;
  height: 1.52rem;
  padding-right: .56rem;
  padding-left: 1rem;
  background: url("../images/sgq_yaoqingbtn.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #fff;
  box-sizing: border-box;
  line-height: 1.52rem;
  text-align: center;
  margin-top: .8rem;
}
.header .yaoqingbtn p {
  margin-top: .4rem;
}
.main {
  background: #fff;
}
.main .tabs ul {
  overflow-x: auto;
  display: flex;
  flex-flow: row nowrap;
}
.main .tabs ul li {
  line-height: 1.86rem;
  border-bottom: .12rem solid #fff;
  margin-right: .6rem;
  font-size: .56rem;
  font-weight: bold;
}
.main .tabs ul li:last-child {
  margin-right: 0;
}
.main .tabs ul li.active {
  border-bottom: .12rem solid #ff3a31;
}
.main .win {
  padding-bottom: 1.2rem;
}
.main .win .yaoyue .info {
  background: url("../images/sgq_jiantou@2x.png");
  background-size: .26rem .48rem;
  background-repeat: no-repeat;
  background-position: right center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.main .win .yaoyue .info .stateBox {
  margin-right: .94rem;
  text-align: right;
}
.main .win .yaoyue .info .stateBox .state {
  color: #000;
}
.main .win .yaoyue .info .stateBox .state.error {
  color: #ec9696;
}
