#app {
  color: #333;
  font-size: .52rem;
  line-height: .8rem;
  background: #fff;
}
.height0 {
  width: 100%;
  height: 0;
  position: relative;
}
.down {
  position: absolute;
  right: .8rem;
  top: .8rem;
}
.down .mui-btn-danger {
  background: #ff3a31;
  border-color: #ff3a31;
  font-size: .4rem;
}
.jianlihtml {
  background: #fff;
  padding-bottom: .4rem;
}
.con {
  padding-left: .76rem;
  padding-right: .8rem;
  position: relative;
}
.sgq_title {
  font-size: .56rem;
  color: #000;
  margin-bottom: .98rem;
}
.tel {
  height: .58rem;
  margin-top: .2rem;
}
.tel span {
  float: left;
  line-height: .58rem;
  vertical-align: middle;
}
.tel .icon {
  display: block;
  width: .38rem;
  height: .58rem;
  background-size: contain;
  margin-right: .4rem;
}
.tuijianren {
  padding-top: .8rem;
}
.tuijianren .border1pxh {
  margin-top: .8rem;
}
.jianli {
  opacity: 0;
}
.jianli.show {
  opacity: 1;
}
.jbxx {
  margin-top: .8rem;
}
.jbxx .border1pxh {
  margin-top: .64rem;
}
.jbxx .name {
  height: .9rem;
  line-height: .9rem;
  font-size: .88rem;
  color: #000;
  margin-bottom: .4rem;
}
.jbxx .name span {
  display: inline-block;
  vertical-align: middle;
}
.jbxx .name .icon {
  margin-left: .4rem;
  width: .64rem;
  height: .64rem;
  background-size: contain;
}
.gzjy {
  margin-top: .8rem;
}
.gzjy .item {
  margin-bottom: .8rem;
}
.gzjy .zmr {
  height: .8rem;
}
.gzjy .zmr .rank {
  float: left;
}
.gzjy .zmr .witness {
  float: right;
}
.gzjy .border1pxh {
  margin-top: 1rem;
}
.jtqk {
  margin-top: .8rem;
}
.jtqk .item {
  margin-bottom: .8rem;
}
.btns {
  margin-top: 1.92rem;
}
.btns .mui-btn {
  margin: 0 auto;
  width: 13.8rem;
  display: block;
  margin-bottom: .6rem;
  border-radius: 0;
  font-size: .64rem;
  height: 1.76rem;
}
.btns .mui-btn-danger {
  background-color: #ff3a31;
  border-color: #ff3a31;
}
.btns .mui-btn-success {
  background-color: #99ca32;
  border-color: #99ca32;
}
